[run]
omit = *test*
       *alembic*
        app/version.py
        app/tasks/error_handlers.py
branch = True

[report]
fail_under = 85
exclude_lines =
        pragma: no cover
        pragma: coverage bug 1012