[run]
omit = *test*
       *alembic*
        carina/version.py
        carina/tasks/error_handlers.py
        carina/core/reporting.py
        carina/tasks/worker.py
branch = True
concurrency = thread
              greenlet

[report]
fail_under = 85
exclude_lines =
        pragma: no cover