[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
pydantic = {extras = ["dotenv"], version = "*"}
prettyprinter = "*"
psycopg2-binary = "*"

[dev-packages]
sqlalchemy-stubs = "*"
flake8 = "*"
isort = "*"
black = "==20.8b1"
mypy = "*"
ipython = "*"
pytest = "*"

[requires]
python_version = "3.9"
