[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
sqlalchemy = "*"
alembic = "*"
asyncpg = "*"
psycopg2-binary = "*"
prettyprinter = "*"
ujson = "*"
sentry-sdk = "*"
prometheus-client = "*"
blinker = "*"
gunicorn = "*"
requests = "*"
rq = "*"
redis = "*"
tenacity = "*"
azure-identity = "*"
azure-keyvault = "*"
azure-storage-blob = "*"
apscheduler = "*"
sqlalchemy-utils = "*"
testfixtures = "*"
retry-task-lib = {editable = true, path = "/Users/francescomilani/side_projects/retry-task-lib"}

[dev-packages]
sqlalchemy-stubs = "*"
flake8 = "*"
isort = "*"
black = "*"
mypy = "*"
ipython = "*"
pytest = "*"
pytest-cov = "*"
xenon = "*"
httpretty = "*"
pytest-asyncio = "*"
sqlalchemy-utils = "*"
pytest-mock = "*"
types-redis = "*"
types-requests = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
