[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://bink-libs:y6nzdKbo9J6MkEmwvB-i@git.bink.com/api/v4/groups/86/-/packages/pypi/simple"
verify_ssl = true
name = "gitlab-libraries"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
sqlalchemy = "*"
alembic = "*"
asyncpg = "*"
psycopg2-binary = "*"
prettyprinter = "*"
ujson = "*"
sentry-sdk = "*"
prometheus-client = "*"
blinker = "*"
gunicorn = "*"
requests = "*"
rq = "*"
redis = "*"
tenacity = "*"
azure-identity = "*"
azure-keyvault = "*"
azure-storage-blob = "!=12.9.0"  # version 12.9.0 has bad type annotations
apscheduler = "*"
testfixtures = "*"
retry-tasks-lib = {version=">=1.7.0", index="gitlab-libraries"}
hiredis = "*"

[dev-packages]
flake8 = "*"
isort = "*"
black = "==21.9b0"
mypy = "*"
ipython = "*"
pytest = "*"
pytest-cov = "*"
xenon = "*"
httpretty = "*"
pytest-asyncio = "*"
sqlalchemy-utils = "*"
pytest-mock = "*"
types-redis = "*"
types-requests = "*"

[requires]
python_version = "3.9"
